.header {
  max-width: 880px;
  margin: 45px auto 0;
  padding-bottom: 41px;
  /* border-bottom: 1px solid rgba(84, 84, 84, 0.7); */
  border-bottom: 1px solid #545454b3;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

}

@media screen and (max-width: 900px) {
  .header {
   max-width: 581px;
  }
}

@media screen and (max-width: 620px) {
  .header {
    margin-top: 28px;
    padding-bottom: 31.6px;
    max-width: 350px;
  }
}
