.popup__close-btn {
  width: 40px;
  height: 40px;
  background-image: url(../../../images/Btn_close.svg);
  position: absolute;
  top: -40px;
  right: -40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px 32px;
}



@media screen and (max-width: 620px) {
  .popup__close-btn {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0px;
    background-size: 20px 20px;
  }
}
