.popup__input-error {
  min-height: 30px;
  font-size: 12px;
  line-height: 15px;
  color: red;
  opacity: 0;
  display: block;
  margin: 5px auto 0 36px;

}


@media screen and (max-width: 620px) {
.popup__input-error {
  margin: 5px auto 0 20px;
}
}
